H1 {
	text-align: center;
}

#name {
	color: white; //#0E5484;
	
}

.header {
	min-width: 100px;
	color: blue;
	text-align: center;
	font-variant: small-caps;
	margin: 3%;
	margin-top:5%;
	padding: 2%;
	background-color:  #CC2233
}

#qr {
	min-width: 100px;
	width: 50%;
	text-align: center;
	visibility: hidden;
	
}
@viewport{
	zoom: 1.0;
	width: extend-to-zoom;
}